<%= form_with(model: pool, local: true) do |form| %>
  <% if pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <p>You have your own pool? Add your pool url here:</p>
  <div class="form-group">
    <%= form.label :pool_url %>
    <%= form.text_field :pool_url, class: 'form-control' %>
  </div>


  <p>You don't have your own pool? Click here to create on</p>

  <div class="form-group">
    <%= check_box(:hosting, "pool", {}) %>
  </div>

  <div class="form-group">
    <%= form.label :logo_url %>
    <%= form.text_field :logo_url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
