<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Pool party!</h1>
  <p class="lead">This is a collection of piri pools. You can also add your remote pool or create a new pool.</p>
  <hr class="my-4">
  <p>Learn more about piri.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://ecosystem.iota.org/projects/piri" role="button" target="_blank">Learn more</a>
  </p>
</div>
<%= link_to 'New Pool', new_pool_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Pool url</th>
      <th>port</th>
      <th>container id</th>
      <th>link to pool</th>
      <th>link to pool ui</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.title %></td>
        <td><%= pool.pool_url %></td>
        <td><%= pool.port %></td>
        <td><%= pool.container_id&.truncate(12) %></td>
        <td>
          <%= link_to "visit Pool", "#{request.protocol + request.host}:#{pool.port}", target: "_blank" if !pool.pool_url %>
          <%= link_to "visit Pool", "#{pool.pool_url}", target: "_blank" if pool.pool_url %>
        </td>
        <td><%= link_to "visit UI", "#{request.protocol + request.host}:#{pool.ui_port}", target: "_blank" %></td>
        <td><%= link_to 'Manage', pool %></td>
        <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
        <td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>(TODO) Pool Party Map</h3>
<p>All pools and their nodes in different colors. Draw the IoT World with colors! ;) </p>
<div id="schedules_map"></div>

 <div style="width:800px;">
   <a id="reset" href="javascript:void(0)">Reset</a>
   <a id="zoom_in" href="javascript:void(0)">Zoom in</a>
   <a id="zoom_out" href="javascript:void(0)">Zoom out</a>
   <a id="show_schedules"  href="javascript:void(0)">all</a>
   <div id="station_name" ></div>
 </div>
 <script type="text/javascript">


$(document).ready(function()
   {
     var map = new FlightsMap("schedules_map",
     {
       width: 960,
       height: 440,
       stations: "https://raw.githubusercontent.com/santiagohecar/flights-map/master/example/stations.json",
       flights: "https://raw.githubusercontent.com/santiagohecar/flights-map/master/example/flights.json"
     });

     $("#reset").click(function() { map.reset(); });
     $("#zoom_in").click(function() { map.zoomIn(); });
     $("#zoom_out").click(function() { map.zoomOut(); });
     $("#show_schedules").click(function() { map.showSchedules(); });
   });

</script>
