<p id="notice"><%= notice %></p>
<h1>Manage pool</h1>

<%= link_to 'Back', pools_path %> | 
<%= link_to 'Edit', edit_pool_path(@pool) %>

<div class="card">
  <div class="card-body">
    <%= image_tag @pool.logo_url, style: 'height: 200px' %>
    <h5 class="card-title"><%= @pool.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= link_to(@pool.pool_url, @pool.pool_url,  target: '_blank') if  @pool.pool_url %></h6>
    <p class="card-text">Pool description</p>
    <%= button_to "close pool", pool_close_pool_url(@pool), class: 'card-link btn btn-danger', method: :get if @pool.container_id %>
    <%= button_to "open pool", pool_open_pool_url(@pool), class: 'card-link btn btn-success', method: :get if !@pool.container_id && !@pool.pool_url %>
  </div>
</div>
<br>
<br>
<br>
<br>
<h3>Pool Map</h3>
<p>This is a demo, which could show pool nodes and their connection to each other</p>
<div id="schedules_map"></div>

 <div style="width:800px;">
   <a id="reset" href="javascript:void(0)">Reset</a>
   <a id="zoom_in" href="javascript:void(0)">Zoom in</a>
   <a id="zoom_out" href="javascript:void(0)">Zoom out</a>
   <a id="show_schedules"  href="javascript:void(0)">all</a>
   <div id="station_name" ></div>
 </div>
 <script type="text/javascript">


$(document).ready(function()
   {
     var map = new FlightsMap("schedules_map",
     {
       width: 960,
       height: 440,
       stations: "https://raw.githubusercontent.com/santiagohecar/flights-map/master/example/stations.json",
       flights: "https://raw.githubusercontent.com/santiagohecar/flights-map/master/example/flights.json"
     });

     $("#reset").click(function() { map.reset(); });
     $("#zoom_in").click(function() { map.zoomIn(); });
     $("#zoom_out").click(function() { map.zoomOut(); });
     $("#show_schedules").click(function() { map.showSchedules(); });
   });

</script>
